<div class="container">

  <div class="starter-template" align="center">
    <h1>Listing Todo Lists</h1>
    <p class="lead">
    
    <% if current_user %>
    <table class="table table-striped" width="100%">
    <thead>
      <tr>
        <th width="30%">List</th>
        <th width="30%" >Description</th>
        <% if current_user == User.first %>
        <th>User</th>
        <% end %>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @todo_lists.each do |todo_list| %>
        <% if (current_user == todo_list.user) || (current_user == User.first) %>
          <tr>
            <td><%= link_to todo_list.list, todo_list %></td>
            <td><%= todo_list.description %></td>
            <% if (current_user == User.first) %>
              <td><%= todo_list.user.email %></td>
            <% end %>
            <td><%= link_to 'Show', todo_list %> | <%= link_to 'Edit', edit_todo_list_path(todo_list) %> | <%= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
    <%= link_to 'Add a list', new_todo_list_path %>
    <% end %>

  <p id="notice"><%= notice %></p>
  </div>
</div><!-- /.container -->